RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *
 
RewriteRule ^upload/photo$ core/upload-photo.php [L]

#ADVERTISEMENT
RewriteRule ^advertisement$ controllers/advertisement/advertisement.php [L]
RewriteRule ^advertisement/([0-9]+)$ controllers/advertisement/advertisement.php?advertisementid=$1 [L]
RewriteRule ^advertisement/active/([0-9]+)$ controllers/advertisement/active.php?advertisementid=$1 [L]
RewriteRule ^advertisement/page/([0-9]+)$ controllers/advertisement/page.php?start=$1 [L]
RewriteRule ^advertisement/search$ controllers/advertisement/search.php [L]


#CATEGORY
RewriteRule ^category$ controllers/category/category.php [L]
RewriteRule ^category/([0-9]+)$ controllers/category/category.php?categoryid=$1 [L]
RewriteRule ^category/active/([0-9]+)$ controllers/category/active.php?categoryid=$1 [L]
RewriteRule ^category/page/([0-9]+)$ controllers/category/page.php?start=$1 [L]
RewriteRule ^category/search$ controllers/category/search.php? [L]

#FOOD
RewriteRule ^food$ controllers/food/food.php [L]
RewriteRule ^food/([0-9]+)$ controllers/food/food.php?foodid=$1 [L]
RewriteRule ^food/active/([0-9]+)$ controllers/food/active.php?foodid=$1 [L]
RewriteRule ^food/page/([0-9]+)$ controllers/food/page.php?start=$1 [L]
RewriteRule ^food/read-all-active$ controllers/food/read-all-active.php? [L]
RewriteRule ^food/search$ controllers/food/search.php? [L]

